/* NAVBAR */
.navbar {
    $navbar: &;
    background-color: rgb(207, 207, 205);
    display: flex;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    &__items-container {
        margin-left: auto;

        @at-root {
            #{$navbar}__item {
                margin-right: 40px;
            }

            #{$navbar}__item--login {
                margin-right: 0px;
                margin-left: 30px;
            }
        }
    }
}
